.addItem {
    margin : 0 auto;
    width : 300px;
    height : 50px;
    border-radius: 5px !important;
    border : none; 
    background-color: white;
    box-shadow : 0 0 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.S_list {
    text-align : center;
}
.S_list input {
    margin-top : 50px;
    height : 23px;
    width : 200px;
    border-radius: 5px !important;
    border : none;    
    background-color : white;
    box-shadow : 0 0 6px rgba(0, 0, 0, 0.2);
}
.S_list input:focus {
    outline : 2px solid lightblue;
}
.S_list button {
    margin-left: 10px;
    margin-top: 10px;
    height : 25px;
    width : 50px;
    border : 2px solid lightblue;    
    background-color: rightgray;
    font-weight: bold;
    transition : 0.4s;
    border-radius: 5px !important;
    cursor : pointer;

}
.S_list button:hover {
    background-color: lightblue;
    color: blanchedalmond;
    transition : 0.4s;


}